*, ::before, ::after {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.main-button {

    width: max-content;
    height: 48px;
    padding: 12px 16px;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #072038;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;

}

.main-button > img {

    display: none;
}

.filled {

    background-color: #26C1D9;
    border: 1px solid #26C1D9;
}
.filled.highlight-button {

    background-color: #FD7762;
    border: 1px solid #FD7762;
}

.outline {

    background-color: #ffffff;
    border: 1px solid #26C1D9;
    color: #26C1D9;
}

.outline.highlight-button {

    background-color: #ffffff;
    border: 1px solid #FD7762;
    color: #FD7762;
}

.main-button.filled:hover {

    background-color: #56CFE2;
    border: 1px solid #56CFE2;
}

.main-button.outline:hover {

    border: 2px solid #26C1D9;
}

.main-button.filled.highlight-button:hover {

    background-color: #FD7762;
    border: 1px solid #FD7762;
}

.main-button.outline.highlight-button:hover {

    border: 2px solid #FD7762;

}

.main-button.filled:hover > img {

    display: block;
    margin-left: 8px;
}

.main-button.outline:focus {

    border: 1px solid #0D4048;
    color: #26C1D9;
}

.main-button.outline.highlight-button:focus {

    border: 1px solid #971521;
    color: #FD7762;
}

.main-button.filled:focus {

    background: #26C1D9;
    border: 1px solid #0D4048;
}

.main-button.filled.highlight-button:focus {

    background: #FD7762;
    border: 1px solid #B93826;
}

.main-button.outline:active {

    border: 1px solid #156B79;
    color: #156B79;

}

.main-button.outline.highlight-button:active {

    border: 1px solid #BE594A;
    color: #BE594A;
}


.main-button.filled:active {

    background-color: #86DDEA;
    border: 1px solid #86DDEA;
}


.main-button.filled.highlight-button:active {

    background-color: #FEC9C0;
    border: 1px solid #FEC9C0;
}

.main-button.outline:active {

    border: 1px solid #156B79;
    color: #156B79;

}

.main-button.outline.highlight-button:active {

    border: 1px solid #BE594A;
    color: #BE594A;
}


.main-button.filled:disabled {

    background-color: #EDF6F7;
    border: 1px solid #EDF6F7;
    color: #A0BDC0;
}


.main-button.filled.highlight-button:disabled {

    background-color: #EDF6F7;
    border: 1px solid #EDF6F7;
    color: #A0BDC0;
}

