h1, .h1 {
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 72px;
}

h2, .h2 {

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
}

h3, .h3 {

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
}

h4, .h4 {

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
}

h5, .h5 {

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

h6, .h6 {

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.p-regular, p { 

    font-family: 'Porpora';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.p-sm, .p-xs { 

    font-family: 'Porpora';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.animate-txt-container {  

    height: 30%;
    width: 100%;
    position: absolute;
    transform: rotate(-3.5deg);
    color: #26C1D9; 
    overflow: hidden;
}

.animate-txt-filled {

    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: #26C1D9; 
}

.animate-txt {

    margin-top: 100px;
    width: 100%;
    font-family: 'Porpora';
    font-size: 160px;
    text-align: center;
    text-transform: uppercase;
    animation: animate 25s linear infinite;
    white-space: nowrap;
}

@keyframes animate
{
    100%
    {
        transform: translate(100%, -50%);
    }
    0%
    {
        transform: translate(-70%, -50%);
    }
}

